<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<p th:text="'Hello, ' + ${name} + '!'" />

	<hr />
	<h1>XLSX File uploader</h1>

	<form method="POST" enctype="multipart/form-data" action="/upload_xlsx">
		<input type="file" name="file"><br> <input type="submit"
			value="Upload">
	</form>
	<hr />
	<h1>Binary File uploader</h1>

	<form method="POST" enctype="multipart/form-data" action="/upload_1">
		<input type="file" name="file"><br> <input type="submit"
			value="Upload">
	</form>
	<hr />
	<h1>Multiple File Uploader</h1>

	<form method="POST" enctype="multipart/form-data" action="/upload_2">
		<input type="file" name="file"><br> <input type="submit"
			value="Upload">
	</form>
	<hr />
	<h1>Async File Uploader</h1>

	<form method="POST" enctype="multipart/form-data" action="/asyncupload">
		<input type="file" name="file"><br> <input type="submit"
			value="Upload">
	</form>

	<hr />
</body>
</html>